<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="GesEntities" connectionString="metadata=res://*/DataContexts.GesModel.csdl|res://*/DataContexts.GesModel.ssdl|res://*/DataContexts.GesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Password=Provide it here;Persist Security Info=True;Initial Catalog=Ges;Data Source=Provide it here;User ID=gesdb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="GesRefresh" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;Initial Catalog=Ges;Data Source=Provide it here;User ID=gesdb;Password=Provide it here;MultipleActiveResultSets=True;Pooling=False;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="siteName" value="Engagement Forum" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mailContactName" value="GES Support Team" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mailPrefix" value="[GES]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oldClientsSiteUrl" value="https://clients.ges-invest.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="clickyTrackingId" value="101041985" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FilePathOnOldSystem" value="W:\WebSites\cs.ges-invest.com\gescs_wwwroot\document_management" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>