<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="kpiColorConfig" type="System.Configuration.DictionarySectionHandler" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <add name="GesEntities" connectionString="metadata=res://*/DataContexts.GesModel.csdl|res://*/DataContexts.GesModel.ssdl|res://*/DataContexts.GesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;Initial Catalog=GESClients;user=sa;password=Provide it here;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GesRefresh" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=GESClients;user=sa;password=Provide it here;MultipleActiveResultSets=True;Pooling=False;"/>
  </connectionStrings>
  <appSettings>
    <!--General Site Settings-->
    <add key="siteName" value="Sustainalytics Engagement Forum"/>
    <add key="siteVersion" value="4.0"/>
    <!--Templater.info License-->
    <add key="templaterCustomer" value="Provide it here"/>
    <add key="templaterLicense" value="Provide it here"/>
    <!--Mandrill Api Key-->
    <add key="mandrillApiKey" value="Provide it here"/>
    <!--Mail accounts-->
    <add key="mailNoReply" value="no-reply@Provide it here.com"/>
    <add key="mailNoReplyName" value="[Sustainalytics-Debug] No-Reply"/>
    <add key="mailContact" value="contact@Provide it here.com"/>
    <add key="mailContactName" value="GES Support Team"/>
    <!--Mail accounts-->
    <add key="mailPrefix" value="[GES]"/>
    <add key="mailCompanyName" value="GES International AB"/>
    <!--SMTP-->
    <add key="smtpHost" value="Provide it here"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpUserName" value="dev@Provide it here.com"/>
    <add key="smtpUserPassword" value="Provide it here"/>
    <add key="smtpEnableSsl" value="true"/>
    <add key="eventSenderEmailAddress" value="ges@Provide it here.com"/>
    <add key="eventSenderEmailName" value="GES International AB"/>
    <!--Links-->
    <add key="oldClientsSiteUrl" value="http://Provide it here.ges-invest.com/"/>
    <add key="baseDownloadUrl" value="https://Provide it here.com/en-US/client/docman/download.aspx?File="/>
    <!--Other settings-->
    <add key="glossaryTruncateLimit" value="256"/>
    <add key="clickyTrackingId" value="111111111"/>
    <add key="LongCommandTimeout" value="600"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="GES.Clients.Web"/>
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false"/>
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true"/>
    <!--Folder store uploaded file-->
    <add key="FileUploadPath" value="D:/UploadPath/"/>
    <add key="TempExportPdfFolder" value="D:/UploadPath/TempExportPdf/"/>
    <add key="FilePathOnOldSystem" value="D:/6_Company_Project/document_management/"/>
    <!-- Logging -->
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="announcementFeedUrl" value="https://www.Provide it here.com/feednews/"/>
    <add key="blogFeedUrl" value="https://www.Provide it here.com/category/esg-blog/feed/"/>
  </appSettings>
  <kpiColorConfig>
    <add key="Low" value="#DD2A18"/>
    <add key="Medium" value="#FFB729"/>
    <add key="High" value="#21A01F"/>
  </kpiColorConfig>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/Error"/>
    </customErrors>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="102400" executionTimeout="1200"/>
    <roleManager enabled="true"/>
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html"/>
        <add namespace="MvcSiteMapProvider.Web.Html.Models"/>
      </namespaces>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Dashboard1h" duration="3600" varyByParam="*" location="Server"/>
          <add name="Dashboard12h" duration="43200" varyByParam="*" location="Server"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
        <rule name="Redirect to Sustainalytics" patternSyntax="Wildcard" stopProcessing="true">
          <match url="anythinghere" negate="true"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="*gesinternational*"/>
          </conditions>
          <!--<action type="Redirect" url="https://services.sustainalytics.com{PATH_INFO}{QUERY}" />-->
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="FormsAuthenticationModule"/>
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule"/>
      <remove name="RoleManager"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <remove name="Vary"/>
        <add name="Vary" value="Accept-Encoding"/>
        <add name="Content-Security-Policy" value="default-src 'self';                                              style-src 'self' *.bootstrapcdn.com *.ionicframework.com *.googleapis.com 'unsafe-inline';                                              script-src 'self' *.getclicky.com *.google-analytics.com *.msecnd.net *.googletagmanager.com 'unsafe-eval' 'unsafe-inline';                                             img-src 'self' *.getclicky.com *.sustainalytics.com *.google-analytics.com 'unsafe-inline' data:;                                             font-src 'self' https://maxcdn.bootstrapcdn.com https://code.ionicframework.com https://fonts.gstatic.com 'unsafe-eval' 'unsafe-inline'"/>
        <remove name="X-Powered-By"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
    <httpCompression>
      <remove name="gzip"/>
      <scheme name="gzip" dynamicCompressionLevel="9" staticCompressionLevel="9" doDynamicCompression="true" doStaticCompression="true" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/javascript; charset=utf-8" enabled="true"/>
        <!--<add mimeType="*/*" enabled="true"/>-->
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="text/css" enabled="true"/>
        <add mimeType="text/javascript" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/javascript; charset=utf-8" enabled="true"/>
        <!--<add mimeType="*/*" enabled="true"/>-->
      </staticTypes>
    </httpCompression>
    <staticContent>
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>