<div ng-form="documentForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" ng-click="cancelCaseProfileAdditionalDocument(ngDialogData.editingCaseProfileAdditionalDocument)">×</span>
        </button>
        <h4 class="modal-title text-bold">{{ngDialogData.editingCaseProfileAdditionalDocument.G_ManagedDocuments_Id == 0 ? "Add New" : "Edit"}} Additional document</h4>
    </div>
    <div class="modal-body" style="min-height: 0; max-height: 450px; overflow-y: auto">
        <div class="row" style="margin-top:15px">
            <div class="col-lg-3 col-md-3 col-xs-12" style="font-weight:bold">Name</div>
            <div class="col-lg-9 col-md-9 col-xs-12">
                <input type="text" class="form-control" style="width: 100%" ng-model="ngDialogData.editingCaseProfileAdditionalDocument.Name" name="Name" ng-required="true"/>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-lg-3 col-md-3 col-xs-12" style="font-weight:bold">Additional document</div>
            <div class="col-lg-9 col-md-9 col-xs-12">
                <a target="_blank" href="{{ngDialogData.editingCaseProfileAdditionalDocument.DownloadUrl}}">{{ngDialogData.editingCaseProfileAdditionalDocument.FileName}}</a>                
                
                <input class="btn btn-default" type="file" style="width: 100%" accept=".xls,.xlsx,.pdf,jpg,.doc,.docx,.ppt,.pptx" id="file"/>
            </div>            
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-lg-3 col-md-3 col-xs-12" style="font-weight:bold">Comment</div>
            <div class="col-lg-9 col-md-9 col-xs-12">
                <textarea type="text" class="form-control" style="width: 100%" ng-model="ngDialogData.editingCaseProfileAdditionalDocument.Comment" name="Comment"> </textarea>
            </div>
        </div>      
    </div>
    <div class="modal-footer">
        <span ng-hide="isAdditionalDocumentDisabled">
            <input class="btn btn-success" type="button" value="Save" data-dismiss="modal" id="btn-submit-company-management-system" ng-click="saveCaseProfileAdditionalDocument(ngDialogData.editingCaseProfileAdditionalDocument)" ng-disabled="documentForm.$invalid" />
            <!--<input class="btn btn-success" type="button" style="margin-right:15px" value="Save & add new" id="btn-submit-addnew-company-management-system" ng-click="saveCompanyAdditionalDocument(ngDialogData.editingCaseProfileAdditionalDocument,true)" ng-disabled="documentForm.$invalid" />-->
            <span ng-if="ngDialogData.editingCompanyManagementSystem.I_CompaniesI_ManagementSystems_Id !== 0">
                <input class="btn btn-danger" type="button" value="Delete" id="btn-delete-company-management-system" ng-click="deleteCaseProfileAdditionalDocument(ngDialogData.editingCaseProfileAdditionalDocument,true)" />
            </span>
        </span>
        <input type="button" class="btn btn-default" style="margin-left:5px" data-dismiss="modal" value="Cancel" ng-click="cancelCaseProfileAdditionalDocument(ngDialogData.editingCaseProfileAdditionalDocument)" />
    </div>
</div>

<style>
    textarea { resize: vertical; }
</style>