@using GES.Common.Resources
<div class="modal fade" id="pop-up-unsubscribed" style="display: none;">
    <div class="modal-dialog modal-lg" style="width: 600px; height: auto">
        <div class="modal-content">
            <br />
            <div class="modal-body" id="unsubscribed-body" style="min-height:0; max-height:500px;overflow-y:auto">

            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@Resources.Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
