@using GES.Common.Resources

<div class="modal fade" id="case-profile-contacts-dialog" style="display: none;z-index:1000000000">
    <div class="modal-dialog modal-lg" style="width: 800px; height: auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-bold">@Resources.EngagementTypeSelectContactInformation</h4>
            </div>
            <div class="modal-body" style="min-height: 0; max-height: 600px; overflow-y: auto">                
                <input class="btn btn-primary pull-right" type="button" value="Add organization" style="margin-left:10px" ng-click="addGesOrganization()">
                <input class="btn btn-primary pull-right" type="button" value="Add contact" ng-click="addGesContact()">                
                <div class="" style="margin-top:40px">
                    <table id="tblcontact" class="table table-bordered table-striped"></table>
                    <div id="myPager"></div>
                </div>
            </div>
            <div class="modal-footer">
                 <input class="btn btn-success" type="button" value="@Resources.Select" data-dismiss="modal" id="btn-contact-select" ng-click="contactSelect(editingDialogue)"  />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="@Resources.Cancel" />
            </div>
        </div>
    </div>
</div>
