@using GES.Common.Resources

<div class="modal fade" id="other-stakeholder-dialog" style="display: none;">
    <div class="modal-dialog modal-lg" style="width: 800px; height: auto">
        <div class="modal-content" ng-form="stakeholderForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-bold">{{editingStakeholderView.OtherStakeholderViewsId == 0 ? "Add New" : "Edit"}} other stakeholder</h4>
            </div>
            <div class="modal-body" style="min-height: 0; max-height: 600px; overflow-y: auto" >
                <div class="row" style="margin-top:15px">
                    <div class="col-lg-3 col-md-3 col-xs-12 required-field" style="font-weight:bold">Name</div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <input type="text" ng-model="editingStakeholderView.Name" ng-required="true"  class="form-control form-control-text" name="name" />
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-lg-3 col-md-3 col-xs-12" style="font-weight:bold">Description</div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <textarea type="text" ng-model="editingStakeholderView.Description" class="form-control form-control-text" name="description" style="height:250px"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-lg-3 col-md-3 col-xs-12" style="font-weight:bold">Url</div>
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <input type="text" ng-model="editingStakeholderView.Url" class="form-control form-control-text" name="url" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="button" value="@Resources.Save" data-dismiss="modal" id="btn-save-stakeholder" ng-click="saveStakeholderView(editingStakeholderView)" ng-disabled="stakeholderForm.$invalid" />
                <input class="btn btn-success" type="button" style="margin-right:15px" value="@Resources.SaveAndAddnew" id="btn-save-addnew-stakeholder" ng-click="saveStakeholderView(editingStakeholderView,true)" ng-disabled="stakeholderForm.$invalid" />
                <span ng-if="editingStakeholderView.OtherStakeholderViewsId !== 0">
                    <input class="btn btn-danger" type="button" value="@Resources.Delete" id="btn-delete-kpi" ng-click="deleteStakeholderView(editingStakeholderView)" />
                </span>
                <input type="button" class="btn btn-default" style="margin-left:5px" data-dismiss="modal" value="@Resources.Cancel" ng-click="cancelStakeholderView(editingStakeholderView)" />
            </div>
        </div>
    </div>
</div>