@using GES.Inside.Web.Configs
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> @SiteSettings.SiteVersion
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year <a target="_blank" href="https://www.sustainalytics.com/">Sustainalytics</a>.</strong> All rights reserved.
</footer>