@using GES.Common.Resources
<div id="alertsTableContainer">
    <table id="tblalerts" class="table table-bordered table-striped"></table>
    <div id="tblalerts-pager"></div>
</div>
<div class="no-alerts-msg no-result-found-message">@Resources.NoCompanyRelatedAlertsFound</div>
<div class="alertSummaryModalsHtml"></div>