@using GES.Common.Resources
<div id="companyRelatedItemsTableContainer">
    <table id="tblcases" class="table table-bordered table-striped"></table>
    <div id="tblcases-pager"></div>
</div>
<div class="no-company-related-items-msg no-result-found-message">@Resources.NoCompanyRelatedCaseProfilesFound</div>