@using GES.Clients.Web.Helpers
@using GES.Common.Resources
@model GES.Inside.Data.Models.CaseProfileCoreViewModel
@if (Model.CaseComponent.ConfirmedViolation)
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                @Resources.ConfirmationDetails
            </h3>
        </div><!-- /.box-header -->
        <div class="box-body">

            @SharedComponents.BuildTabContent(Html, new Dictionary<string, KeyValuePair<string, string>>
               {
                   [CommonHelper.ConvertNameToHtmlElementId(Resources.RevisionCriteria)] = new KeyValuePair<string, string>($"{Resources.RevisionCriteria}", Html.Partial("CaseProfiles/Shared/RevisionCriterial", Model.RevisionCriterials).ToHtmlString()),
                   [CommonHelper.ConvertNameToHtmlElementId(Resources.BasisForDecision)] = new KeyValuePair<string, string>($"{Resources.BasisForDecision}", Html.Partial("CaseProfiles/Shared/ConfirmationInformation", Model.ConfirmationInformation).ToHtmlString()),
               })
        </div>
    </div>
}
