@using GES.Common.Resources

@model GES.Inside.Data.Models.CaseProfiles.CaseProfileUNGPAssessmentComponent

<div class="ges-content-block">
    <div class="header">
        <div class="title col-lg-9 col-md-8 col-xs-12">
            <p>2. Company preparedness</p>
        </div>
    </div>
    <hr class="style10" />
    <div class="box-body">
        <table class="table">
            <thead>
                <tr class="table-row-blue">
                    <th scope="col" style="width:250px">Indicator</th>
                    <th scope="col">Sub-indicator</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4" class="table-row-2">Human rights policy</td>
                    <td class="table-row-2">
                        A publicly disclosed human rights policy (or similar) is in place that refers to International Bill of Human Rights and ILO core conventions and other relevant standards for the company.
                    </td>
                </tr>
                <tr>
                    <td class="table-row-2">
                        The company states how the policy is communicated internally and externally to all personnel, business partners and other relevant parties.
                    </td>
                </tr>
                <tr>
                    <td class="table-row-2">
                        The policy stipulates the enterprise’s human rights expectations of personnel, business partners and other parties directly linked to its operations, products or services.
                    </td>
                </tr>
                <tr>
                    <td class="table-row-2">The policy is approved at the most senior level of the business enterprise.</td>
                </tr>


                <tr>
                    <td rowspan="8" class="table-row-3">Human rights due diligence</td>
                    <td class="table-row-3"><strong>Governance: </strong></td>                    
                </tr>
                <tr>
                    <td class="table-row-3">A written commitment from the company’s senior management and/or board to lead the work on human rights within the company.</td>
                </tr>
                <tr>
                    <td class="table-row-3">The company provides examples of how top management and/or the board have initiated human rights initiatives.</td>
                </tr>
                <tr>
                    <td class="table-row-3">The company provides a clear division of responsibility within the company to manage the company’s salient human rights issues and is able to explain how different departments are involved in addressing human rights related issues.</td>
                </tr>
                <tr>
                    <td class="table-row-3"><strong>Business partners: </strong>The company takes human rights considerations into account when deciding to engage (or terminate) business relationships.</td>
                </tr>

                <tr>
                    <td class="table-row-3"><strong>Identification and commitment: </strong>The company demonstrates a continuous process to determine salient human rights issues and discloses results.</td>
                </tr>

                <tr>
                    <td class="table-row-3"><strong>Stakeholder engagement: </strong>The company demonstrates how stakeholder engagement influences the company’s understanding of salient human rights issue and/or its approach to addressing them.</td>
                </tr>
                <tr>
                    <td class="table-row-3"><strong>Human rights training: </strong>Human rights training is conducted for employees, contract workers and suppliers (when relevant).</td>
                </tr>

                <tr>
                    <td rowspan="9" class="table-row-2">Remediation of adverse human rights impacts</td>
                    <td class="table-row-2"><strong>Remedy process in place: </strong>The company has a clear process in place to address and remedy human rights impacts.</td>
                </tr>
                <tr>
                    <td class="table-row-2"><strong>Grievance mechanism: </strong></td>
                </tr>
                <tr>
                    <td class="table-row-2">The company has operational-level mechanism(s) through which people affected by company operations can raise complaints or concerns, including in relation to human rights issues.</td>
                </tr>
                <tr>
                    <td class="table-row-2">The existence of operational-level grievance mechanism is clearly communicated in relevant local languages to those affected or potentially affected by company operations and they are ensured the process is free of reprisal.</td>
                </tr>
                <tr>
                    <td class="table-row-2">The company discloses a clear process on how grievances are managed from operational-level grievance mechanisms.</td>
                </tr>
                <tr>
                    <td class="table-row-2">The way in which the company addresses a grievance is aligned with international human rights norms, when relevant.</td>
                </tr>
                <tr>
                    <td class="table-row-2">The people filing grievance are kept informed of how the grievance is being addressed. External expert is available to assist in severe grievances, also in terms of providing advice to the person/people who filled the grievance.</td>
                </tr>
                <tr>
                    <td class="table-row-2">Reoccurring grievances on similar matters are identified and informs the company’s priorities and preventive measures to avoid future harm.</td>
                </tr>
                <tr>
                    <td class="table-row-2">The format and processes related to the grievance mechanism is developed based on engagement with people affected or potentially affected by the company’s operations (i.e. those to which the grievance mechanism are open to use).</td>
                </tr>
                <tr class="table-row-blue">
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>