
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<p class="align-center margin-top-8">
    <span class="error-message-title">You don't have permission to access this site.</span>
</p>

