<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="GesEntities"
         connectionString="metadata=res://*/GesModel.csdl|res://*/GesModel.ssdl|res://*/GesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Provide it here;Initial Catalog=ges-prod;Integrated Security=False;User ID=gessa;Password=Provide it here;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
