<h3 matDialogTitle>Add Comment</h3>
<mat-dialog-content style="width:800px">
    <div class="row">
        <div class="col-md-3">
            <span>Source date</span>
        </div>
        <div class="col-md-9">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span>Description</span>
        </div>
        <div class="col-md-9">
            <textarea maxlength="800" click-to-edit-text-area ng-model="currentCase.Description" style="width:100%"></textarea>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button matDialogClose>Cancel</button>
</mat-dialog-actions>